<div class="row justify-content-center">
    <div class="col-lg-9">
      <div class="table-responsive overflow-hidden">
        <h1>Client List</h1>
        <table class="table table-striped mb-0">
          <thead style="background-color: black; color: white">
            <tr>
              <th>ID</th>
              <th>List Number</th>
              <th>Registration Date</th>
              <th>Comment</th>
              <th>ST</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <th scope="row">1</th>
              <td>5</td>
              <td>05.08.2021</td>
              <td>
                VIP
              </td>
              <td>
                <i class="mdi mdi-checkbox-blank text-success"></i>
              </td>
               
              <td>50</td>
            
              <td>
                <div class="my-dropdown">
                  <i
                    class="mdi mdi-dots-vertical dropbtn"
                    type="button"
                    id="dropdown-item"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-bs-boundary="viewport"
                  ></i>
                  <div class="dropdown-content">
                    
                    <a href="#">Disable</a>
                    <form
                      action="/user/delete-user/"
                      id="delete-user"
                      method="POST"
                    >
                     
                      <button
                        name="action"
                        value="delete-user"
                        class="button-link"
                      >
                        Delete
                      </button>
                    </form>
                    <a href="#">Change Color</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        
        </div>  
    </div>
</div>
  